@model CumulativeAssignment_01.Models.Course

@* // Printing each individual row values of the table on the web page. *@
<div>
	<p>Course Id : @Model.CourseId</p>
	<p>Course Code : @Model.CourseCode</p>
	<p>Teacher Id : @Model.TeacherId</p>
	<p>Start Date : @Model.StartDate</p>
	<p>End Date : @Model.FinishDate</p>
	<p>Course Name : @Model.CourseName</p>
</div>