@model CumulativeAssignment_01.Models.Teacher
  @* // Printing each individual row values of the table on the web page. *@
	<div>
	<p>Teacher Id : @Model.TeacherId</p>
	<p>First Name : @Model.TeacherFName</p>
	<p>Last Name : @Model.TeacherLName</p>
	<p>Employee No : @Model.EmployeeNo</p>
	<p>Hire Date : @Model.HireDate</p>
	<p>Salary : @Model.Salary</p>
    </div>


