@model CumulativeAssignment_01.Models.Student

@* // Printing each individual row values of the table on the web page. *@
<div>
	<p>Student Id : @Model.StudentId</p>
	<p>First Name : @Model.StudentFName</p>
	<p>Last Name : @Model.StudentLName</p>
	<p>Student No : @Model.StudentNumber</p>
	<p>Enrol Date : @Model.EnrolDate</p>
</div>